#Welcome {
    background: linear-gradient(#eb5234 0%, #e3e017 100%);
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    text-align: center;
    z-index: 99;


}

#Welcomeimage {
    height: 200px;
    border-radius: 50%
}

#Welcometext {
    color: white;
    font-size: 30px;
}
.line {
    background-color : brown;
    height: 10px;
    width: 100px;
    border-radius: 10px;
    margin: 10px auto
}
#Des {
    color: white;
}